#header1 {
    font-size: 32px;
    margin: 100px 0px 0px 50px;
    color: #000;
}

#msgbox {
    background-color: #c0c0c0;
    margin: 100px auto 100px auto;
    width: 80%;
    height: 300px;
    #msg {
        background-color: #fff;
        font-size: 32px;
        color: #000;
        width: 70%;
        height: 250px;
        margin: auto;
        vertical-align: middle;
        position: absolute;
    }
}
